<style type="text/css">
    body {
        padding-top: 0px;
        padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
    }
</style>

 <body>
<form action="/posts" method="post">
  <fieldset>
    <legend>Create a Post</legend>
    <label>Title</label>
    <input id="title" name="post[title]" type="text">
	<span class="help-inline">This is what others will see on the front page.</span>
	
	<label>Location</label>
    <textarea id="location" name="post[location]" rows="3"></textarea>
    <span class="help-inline">Specify an address or directions to your location.</span>

	<label>Identification</label>
    <textarea id="identification" name="post[identification]" rows="3"></textarea>
    <span class="help-inline">How can people spot you in a crowd?</span>

	<label>Activity</label>
    <textarea id="activity" name="post[activity]" rows="3"></textarea>
    <span class="help-inline">Tell us what you're doing.</span>

    <label>State</label>
    <select id="states" name="post[state_id]" disabled></select>
	
	<label>City</label>
    <select id="cities" name="post[city_id]" disabled></select>
	
	<label>Duration</label>
    <select id="duration" name="post[duration]">
	  <option value="60">1 Hour</option>
	  <option value="120">2 Hours</option>
	  <option value="180">3 Hours</option>
	  <option value="240">4 Hours</option>
	  <option value="300">5 Hours</option>
	  <option value="360">6 Hours</option>
	  <option value="420">7 Hours</option>
	  <option value="480">8 Hours</option>
	  <option value="720">12 Hours</option>
	  <option value="1440">24 Hours</option>
	</select>
	<span class="help-inline">How long will you be there?</span>
	
	<label>Delay</label>
    <select id="delay" name="post[delay]">
	  <option value="0">None</option>
	  <option value="15">15 Minutes</option>
	  <option value="30">30 Minutes</option>
	  <option value="45">45 Minutes</option>
	  <option value="60">60 Minutes</option>
	</select>
	<span class="help-inline">How long before you start?</span>
	
	<br>
	
    <div class="form-actions">
	  <button type="submit" class="btn btn-primary">Save changes</button>
	  <button id="cancel" type="button" class="btn">Cancel</button>
	</div>
  </fieldset>
</form>
		
<script>
$(document).ready(function () {
	loadStates();
});

function loadStates() {	
	// disable dropdown until states are successfully retrieved and listed
	document.getElementById("states").disabled = true;
	
	// first clear out any options
	document.getElementById("states").options.length = 0; 
	
	// make the AJAX request to the server
	$.post('/get_states', {})
		.success(function(result) {
			if (result.status == "SUCCESS") {	
				states = result.states
				for (i=0; i<states.length; i++) {
					// Create an Option object        
				    var opt = document.createElement("option");
					opt.value = states[i].id;
				    opt.text = states[i].name;
				    document.getElementById("states").options.add(opt);
				}
				
				// enable dropdown since states were successfully retrieved and listed
				document.getElementById("states").disabled = false;
			
				// load all the cities associated with this state
				loadCities(states[0].id);
			}  
			else {
				alert("Could not retrieve states from server.");
			}          
		})
		.error(function(xhr, textStatus, errorThrown) {
			alert("Could not retrieve states from server.");
		});
}            

function loadCities(state_id) {	
	// disable dropdown until states are successfully retrieved and listed
	document.getElementById("cities").disabled = true;
	
	// first clear out any options
	document.getElementById("cities").options.length = 0; 
	
	// make the AJAX request to the server
	$.post('/get_cities', {state_id: state_id})
		.success(function(result) {
			if (result.status == "SUCCESS") {	
				cities = result.cities
				for (i=0; i<cities.length; i++) {
					// Create an Option object        
				    var opt = document.createElement("option");
					opt.value = cities[i].id;
				    opt.text = cities[i].name;
				    document.getElementById("cities").options.add(opt);
				}
				
				// enable dropdown since cities were successfully retrieved and listed
				document.getElementById("cities").disabled = false;
			}
			else {
				alert("Could not retrieve cities from server.");
			}
		})
		.error(function(xhr, textStatus, errorThrown) {
			alert("Could not retrieve cities from server.");
		});
}

$('#states').change(function() {
	var state_id = $("#states").val();
	loadCities(state_id);
});

$("#cancel").click(function() {
	location.href = "/posts";
});
</script>