<style type="text/css">
  body {
    padding-top: 0px;
    padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  }
</style>

<form action="/posts" method="post">
  <fieldset>
    <legend>Create a Post</legend>
    <label>Title</label>
    <input id="title" name="post[title]" type="text">
  <span class="help-inline">This is what others will see on the front page.</span>

  <label>Location</label>
    <textarea id="location" name="post[location]" rows="3"></textarea>
    <span class="help-inline">Specify an address or directions to your location.</span>

  <label>Identification</label>
    <textarea id="identification" name="post[identification]" rows="3"></textarea>
    <span class="help-inline">How can people spot you in a crowd?</span>

  <label>Activity</label>
    <textarea id="activity" name="post[activity]" rows="3"></textarea>
    <span class="help-inline">Tell us what you're doing.</span>

    <label>State</label>
    <select id="states" name="post[state_id]" disabled></select>

  <label>City</label>
    <select id="cities" name="post[city_id]" disabled></select>

  <label>Duration</label>
    <select id="duration" name="post[duration]">
    <option value="60">1 Hour</option>
    <option value="120">2 Hours</option>
    <option value="180">3 Hours</option>
    <option value="240">4 Hours</option>
    <option value="300">5 Hours</option>
    <option value="360">6 Hours</option>
    <option value="420">7 Hours</option>
    <option value="480">8 Hours</option>
    <option value="720">12 Hours</option>
    <option value="1440">24 Hours</option>
  </select>
  <span class="help-inline">How long will you be there?</span>

  <label>Delay</label>
    <select id="delay" name="post[delay]">
    <option value="0">None</option>
    <option value="15">15 Minutes</option>
    <option value="30">30 Minutes</option>
    <option value="45">45 Minutes</option>
    <option value="60">60 Minutes</option>
  </select>
  <span class="help-inline">How long before you start?</span>

  <br>

    <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button id="cancel" type="button" class="btn">Cancel</button>
  </div>
  </fieldset>
</form>
